<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/inicio']">
          <img width="45px" src="../../../assets/logo-cuerpo.png" alt="">
        </a>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="nav ">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/inicio']">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['compañias']">Compañias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['materialmayor']">Material-Mayor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['diponibilidad']">Disponibilidad</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Bomberos</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" [routerLink]="['registro']">Registrar Bombero</a>
            <a class="dropdown-item" [routerLink]="['usuarios']">Lista de Bomberos</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!--<a class="navbar-brand" href="#">Navbar</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
  aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item" *ngIf="identity && identity.image">
      <div class="avatar_mask">
        <img id="perfil" src="{{url+'user/image/'+identity.image}}" class="avatar_navbar">
      </div>
    </li>
    <li class="nav-item dropdown my-auto">
      <a class="nav-link dropdown-toggle boton-dropdown px-3 ml-1" href="#" id="navbarDropdown" role="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           {{identity.name}} {{identity.surname}}
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" [routerLink]="['miinfo']">Mi información</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" [routerLink]="['/logout/1']">Cerrar sesión</a>
      </div>
    </li>
  </ul>
</div>
</nav>

<!-- Page Content -->

  <router-outlet></router-outlet>  

<!-- /.container -->